# Build output
_build/
build/
dist/

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
.env
.venv
env/
venv/
.conda/

# System
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Vercel
.vercel

# Jupyter
.ipynb_checkpoints

# Book
_build/

/projects/